.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

.btn-container button {
  background: #35d4a4;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  display: flex;
  padding: 11px 20px;
  line-height: 14px;
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: 500;
  border: 2px solid #0e805d;
  transition: all 0.5s ease-in-out;
  align-items: center;
}
.btn-container button span {
  display: block;
}
.btn-container button svg {
  margin-left: 0.6rem;
}
.btn-container button:hover,
.btn-container button:active {
  background: #2da883;
}
