body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  color: #4d4d4d;
  font-weight: 400;
}
a {
  transition: 0.5s all ease-out;
  text-decoration: none;
}
main.main {
  background: #f7fcfcc4;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
