.hero-section {
  margin: 0;
  position: relative;
  height: calc(110vh - 65px);
  background-image: url('../../assets/img/bg-001.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  transition: all 0.6s ease-in-out;
}
.hero-section__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  background: rgba(12, 9, 9, 0.5);
  z-index: 3;
}

.hero-section__description {
  display: flex;
  position: absolute;
  top: 110px;
  left: 55px;
  flex-direction: column;
  max-width: 550px;
  z-index: 8;
  color: whitesmoke;
  letter-spacing: 0.2rem;
  transition: all ease-in-out 0.6s;
}

.hero-section__description-header {
  font-family: 'Lato', sans-serif, 'Segoe UI';
  font-size: 2.5rem;
  font-weight: 600;
}
.hero-section__description span {
  display: block;
  margin-top: 10px;
}

.hero-section__description a {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  background: #35d4a4;
  color: whitesmoke;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.6s ease-in-out;
}

.hero-section__description a:hover {
  background: rgba(230, 51, 27, 0.952);
}

@media screen and (max-width: 645px) {
  .hero-section__description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 10%;
    top: 120px;
    font-size: 0.8rem;
  }
  .hero-section__description p {
    margin-top: 0.5rem;
  }
  .hero-section__description-header {
    font-size: 2rem;
  }
}
@media screen and (max-width: 540px) {
  .hero-section__description {
    font-size: 0.6rem;
  }
  .hero-section__description-header {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 497px) {
  .hero-section__description {
    font-size: 0.5rem;
  }
  .hero-section__description-header {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 430px) {
  .hero-section__description-header {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 427px) {
  .hero-section__description {
    font-size: 0.4rem;
  }
}
@media screen and (max-width: 366px) {
  .hero-section__description-header {
    font-size: 1rem;
  }
  .hero-section__description {
    font-size: 0.6rem;
  }
}
