.default-grid {
  display: grid;
  grid-template-rows: 65px auto 65px;
  grid-template-columns: 1fr;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  transition: 0.5s all ease-in-out;
}
