.dashBtn {
  outline: none;
  color: #fff;
  background: #35d4a4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.6rem 1.1rem;
  font-size: 0.7rem;
  border: none;
  text-align: center;
  display: flex;
  transition: ease-in-out 0.6s all;
  border-radius: 4px;
  min-width: 86px;
  cursor: pointer;
  justify-content: center;
}
button.dashBtn span {
  display: block;
}
button.dashBtn svg {
  margin-left: 0.6rem;
}
.dashBtn + .dashBtn {
  margin-left: 1.3rem;
}
.dashBtn:hover,
.dashBtn:disabled {
  background: #329c7d;
}
.dashBtn:focus {
  outline: none;
  border-color: #35d4a4;
}
.dashBtn:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 415px) {
  .dashBtn {
    font-size: 0.5rem;
    padding: 0.4rem 0.9rem;
    min-width: 40px;
  }
}
